*{
    outline:none;
    max-width:100%;
    box-sizing:border-box;
    font-family:Frutiger, sans-serif;
}

html,body{
    height:100%;
}

body{
    margin:0;
    background:url('back.jpg') ;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    position:fixed;
    top:0px;
      left:0px;
      width: 100%;
      height: 100%;
}

.login-box{
    background:#ffcc00;
    width:600px;
    padding:40px;
    border-radius:4px;
}

.login-col{
    margin:20px 0;
}

.login-col img{
    margin-top:-50px;
    width:110px;
}

.logininput{
    background:white;
    border:1px solid black;
    display:flex;
    position:relative;
    border-radius:4px;
}

.logininput input[type=text]{
    border:none;
    padding:17px;
    width:100%;
    background:none;
}

.login-col span{
    padding:10px 0;
    display:inline-block;
}

.frgt{
    position:absolute;
    right:0;
    top:14%;
    padding:15px;
    font-size:0.8em;
    color:#0a3478;
    margin-right:8px;
}
.frgt:hover{
    text-decoration:underline;
}



button{
    background:#0A3478;
    color:white;
    border:none;
    border-radius:3px;
    padding:15px 50px;
}


.container{
    height:100%;
}

.row{
    height:100%;
    display:flex;
}

.left-col{
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
}


.right-col{
    text-align:left;
    width:40%;
}

.adsholder{
    text-align:left;
    display:inline-block;
    background:white;
    height:100%;
    width:350px;
}

.adbox{
    background:#f3f5f8;
    padding:30px;
    color:#363636;
    border-bottom:1px solid #dbe3ef;
}

.adbox div{
    margin:9px 0;
}
.adimg{
    margin:10px 0;
}

.adimg img{
    border-radius:6px;
}


.adtitle{
    font-weight:bold;
    font-size:0.9em;
}
.adtext{
    font-size:0.8em;
}

.adlinks a{
    text-decoration:none;
    font-size:0.7em;
    display:block;
    font-weight:bold;
    color:#0a3478;
}



.footerbox{
    background:white;
    padding:1px 30px;
    font-size:0.9em;
}

.footerbox div{
    margin:25px 0;
}

.footerbox .credits{
    font-size:0.8em;
}

.footerbox a{
    margin-right:6px;
        font-weight:bold;
    color:#0a3478;
    font-size:0.8em;
        text-decoration:none;
    
}

#mobile{
    display:none;
  color:#0a3478;
    font-weight:bold;
    font-size:0.9em;
}

@media screen and (max-width:900px){
    span.frgt{
        display:none;
    }


#mobile{
    display:block;
    margin-top:35px;
    margin-bottom:-10px;
}

    
    body{

        position:static;
    }
    .row{
        display:block;
        height:auto;
    }

    .left-col{
        padding:10px;
        width:100%;
        margin:40px 0;
         height:auto;
    }

    .right-col{
        width:100%;
    }

    .adsholder{
        text-align:center;
        width:100%;
    }

    .adimg img{
        width:270px;
    }

    .login-box{
        width:700px;
    }
}